<!DOCTYPE html>
<html> 
<head> 
		<title>Rejestracja</title> 
		<meta charset="utf-8"> 
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}"> 
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head> 
<body> 

	<main>
	<form action="" method="POST"> 
		<h2>Zarejestruj się</h2> 
			{{ form.hidden_tag()}}
			{{ form.csrf_token }}
			
			<div class="box">{{ form.username }}</div>
			
			<br><br>
			<div class="box">{{ form.password }}</div>
			
			<br>
			<label style="font-size: 18px">Funkcja:</label> 
			<br>
			<ul>{{ form.type }}</ul>
			
			<br>
			<button type="submit" value="Register">Zarejestruj się</button>
			<br> 
			
				
		</div> 
	</form> 
	</main>
</body> 
</html> 
